@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Crimson+Pro:wght@200&family=Montserrat:wght@300;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  color: #ffffff;
}

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  position: absolute;

  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  /* identical to box height */

  text-transform: uppercase;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.nav-item {
  list-style: none;
}

.nav-item li {
  width: 155px;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.nav-item .selected {
  font-weight: bold;
}

main > h1 {
  position: absolute;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
}

main > p {
  position: absolute;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
}

main > a {
  position: absolute;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.profile {
  position: absolute;
  background: #181719;
}

.face {
  position: absolute;
  border-radius: 37px;
}

.profile > h2 {
  position: absolute;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
}

figcaption {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.role {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #828282;
}

footer {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #a9a9a9;
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 1440px;
    height: 1080px;
  }

  .header-box {
    width: 102px;
    height: 32px;
    left: 77px;
    top: 42px;
  }

  nav {
    position: absolute;
    top: 42px;
    left: 785px;
  }

  .nav-item {
    display: flex;
  }

  main > h1 {
    width: 359px;
    height: 61px;
    left: 77px;
    top: 245px;

    font-size: 48px;
    line-height: 61px;
  }
  main > p {
    width: 410px;
    height: 145px;
    left: 77px;
    top: 346px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
  }
  main > a {
    width: 140px;
    height: 22px;
    left: 77px;
    top: 539px;
    font-size: 18px;
    line-height: 22px;
  }
  .interior-photo > img {
    position: absolute;
    width: 737px;
    height: 555px;
    left: 626px;
    top: 245px;
  }
  .profile {
    width: 410px;
    height: 189px;
    left: 921px;
    top: 722px;
  }
  .face {
    width: 50px;
    height: 50px;
    left: 31px;
    top: 18px;
  }

  .profile > h2 {
    width: 287px;
    height: 62px;
    left: 26px;
    top: 93px;
    font-size: 24px;
    line-height: 31px;
  }

  figcaption {
    width: 95px;
    height: 17px;
    left: 100px;
    top: 23px;
    font-size: 14px;
    line-height: 17px;
  }
  .role {
    width: 102px;
    height: 15px;
    left: 100px;
    top: 48px;
    font-size: 12px;
    line-height: 15px;
  }

  footer {
    text-align: center;
    width: 1440px;
    height: 17px;
    top: 1017px;

    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 375px;
    height: 776px;
  }
  .header-box {
    width: 103px;
    height: 31px;
    left: 20px;
    top: 27px;
  }
  nav {
    position: absolute;
    top: 258px;
  }
  .nav-item > li {
    top: 32px;
  }
  main > h1 {
    width: 270px;
    height: 46px;
    left: 12px;
    top: 88px;

    font-size: 36px;
    line-height: 46px;
  }
  main > p {
    width: 250px;
    height: 85px;
    left: 12px;
    top: 159px;

    font-size: 14px;
    line-height: 17.07px;
  }
  main > a {
    width: 140px;
    height: 17px;
    left: 12px;
    top: 269px;

    font-size: 14px;
    line-height: 17px;
  }
  .interior-photo > img {
    position: absolute;
    width: 351px;
    height: 264.32px;
    left: 12px;
    top: 323px;
  }
  .profile {
    position: absolute;
    width: 300px;
    height: 138px;
    left: 52px;
    top: 536px;

    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .face {
    width: 36.59px;
    height: 36.59px;
    left: 22.68px;
    top: 13.17px;
  }
  .profile > h2 {
    width: 210px;
    height: 45px;
    left: 19px;
    top: 68px;

    font-size: 18px;
    line-height: 23px;
  }
  figcaption {
    width: 133.03px;
    height: 12.44px;
    left: 73.17px;
    top: 16.83px;

    font-size: 12px;
    line-height: 15px;
  }
  .role {
    width: 142.83px;
    height: 10.98px;
    left: 73.17px;
    top: 35.12px;

    font-size: 10px;
    line-height: 12px;
  }
  .border-line {
    position: absolute;
    width: 261px;
    height: 0px;
    left: 57px;
    top: 724px;

    border: 1px solid #a9a9a9;
  }
  footer {
    text-align: center;
    width: 375px;
    height: 18.31px;
    top: 733.69px;

    font-size: 14px;
    line-height: 17px;
  }
}
